

/***Profile***/
.profile-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px 480px 1fr 650px 380px;
}
.profile{
    grid-column: 1/4;
    grid-row: 1/1;
}
.profile-bg{
    background-color: rgba(17, 11, 6, 0.938);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 70%);
    border-radius: 20px;
    display: grid;
    height: 101vh;
    grid-template-columns: 1fr 1fr ;
}

.profileimg{
    height: 8cm;
    width: 8cm;
    box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.75),
                4px 3px 0px 1px rgba(244, 37, 37, 0.75),
                2px 3px 1px 3px rgba(244, 154, 37, 0.75),
                -2px -1px 0px 0px rgba(255, 255, 255, 0.75);
    grid-column: 1/1;
}
.profile-intro{
    margin-top: 10%;
    margin-bottom: 10%;
    grid-column: 1/3;
    color:#352c32
}
.profile-intro h1{
    letter-spacing: 9px;
}
.profile-intro h4{
    color:#2a1525a0;
    letter-spacing: 5px;
}
.profile-intro p{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color:#2c111da0;
}

.profile-career{
    grid-column: 1/4;
    margin-top: -7%;
}

.profile-career h1{
    letter-spacing: 8px;
    color: rgba(17, 11, 6, 0.784);
}
.career-goals{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profileimg{
    margin-bottom: 10%;
    border-radius: 50px 50px 50px 0;
    height: auto;
    box-shadow: 1px 1px 0px 1px rgba(201, 109, 48, 0.75),
                4px 3px 0px 1px rgba(37, 30, 30, 0.75),
                2px 3px 1px 3px rgba(244, 154, 37, 0.75),
                -2px -1px 0px 0px rgba(255, 255, 255, 0.75);
    grid-column: 3 /3;
  
}
.goals-info{
    grid-column: 1 / 2;
}



  .goals-info hr{
      width: auto;
      border: 2px solid #45154aa3;
      border-radius: 3px;
  }

  .goals-info p{
    margin-left: 18%;
    margin-right: 14%;
    text-align: justify;
    color:rgba(165, 42, 206, 0.29);
  }

/*Educational Background*/
  .profile-back-educ{
    grid-column: 1/4;
}
.educ-bg{
    background-color: rgba(47, 38, 63, 0.947);
    clip-path: polygon(0 15%, 100% 0, 100% 77%, 0% 100%);
    height: 55rem;
    display: grid;
    margin-left: 1cm; margin-right: 1cm;
   
}


/*******************************Skills Area**************/
.h1skill{
    color:#27192bd7;
    letter-spacing: 8px;

}
.tophr hr{
    width: 15cm;
    border: 2px solid #ffffff64;
    border-radius: 3px;
    float: right;
    margin-bottom: 3%;
}
.bothr hr{
    width: 15cm;
    border: 2px solid #43143fbc;
    border-radius: 3px;
    float: left;
    margin-top: 7%;
}

.bar{
    background: none;
    display: block;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,.2);
    
}
.bar span{
    height: 50px;
    float: left;
    background: linear-gradient(135deg, 
    rgba(173, 3, 252, 0.938)0%,
    rgba(228, 153, 2, 0.708)100%);
}

.cs{
    width: 50%;
    animation: cs 3s;
}
.py{
    width: 50%;
    animation: py 3s;
}
.ht{
    width: 50%;
    animation: ht 3s;
}
.ssc{
    width: 30%;
    animation: css 3s;
}


/*************************Contacts**/

.profile-contact{
    grid-column: 1/4;
}
.contact-bg{
    background-color: rgba(47, 38, 63, 0.947);
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);
    height: 29rem;
    display: grid;
    padding: 6rem;
    margin-top: 5cm;
    bottom: 0;
    color: white;
    margin-left: 1cm; margin-right: 1cm;

}
.contact-content{
    margin-top: 10%;
    margin-bottom: 5%;
}
.contact-content h1{
    color:#f8d5a6;
    letter-spacing: 9px;
}
.contact-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    color:#f9dfbda0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: small;
    margin-top: 5%;
}
.school-college p{
    text-align: center;
    margin-left: 6%;
}

.educ-content img{
    height: 2cm;
    border-radius: 50%;
    margin: 2%;
}

.contact-footer{
    color: white;
    text-align: center;
    margin-top: 7%;
}
.address:hover, .contactnum:hover, .email:hover{
    transition: 0.3s;
      color: white;

}